@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Watch Inc.</h1>
    <h2>Welcome to the world of watches</h2>
    <p>To see available watches click <a href="https://localhost:7131/Watches">here</a>.</p>
</div>
