@page
@model WatchRazorPage.Pages.Watches.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Watch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Watch.Id" />
            <div class="form-group">
                <label asp-for="Watch.BrandName" class="control-label"></label>
                <input asp-for="Watch.BrandName" class="form-control" />
                <span asp-validation-for="Watch.BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.ModelName" class="control-label"></label>
                <input asp-for="Watch.ModelName" class="form-control" />
                <span asp-validation-for="Watch.ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.ModelReference" class="control-label"></label>
                <input asp-for="Watch.ModelReference" class="form-control" />
                <span asp-validation-for="Watch.ModelReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.ReleaseDate" class="control-label"></label>
                <input asp-for="Watch.ReleaseDate" class="form-control" />
                <span asp-validation-for="Watch.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
